# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
/.venv
/.env

# Django-specific files
/public
/var

# Database files
db.sqlite3

# Operating System files
.DS_Store
Thumbs.db
